<!DOCTYPE html>
<html>
<head>
  <title>Linkifier</title>
  <%= stylesheet_link_tag    "linkifier/application", :media => "all" %>
  <%= javascript_include_tag "linkifier/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
